* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top:10px;
}

.grid-item {
  float: left;
}
.grid-item img {
  display: block;
  max-width: 100%;
}

#mySidenav{
	width: 450px;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	background-color: #fad5d5;
  }
  .shopping-cart-icon{
	float:right;
	
  }
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  #selectCurrency{
	width: 450px;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  .navcart{
	border:1px solid black;

  }

  .material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 20
  }

  .valid-feedback.feedback-icon,
  .invalid-feedback.feedback-icon {
	  position: absolute;
	  width: auto;
	  bottom: 10px;
	  right: 10px;
	  margin-top: 0;
  }

  button.valid-nav{
	background-color: #4CAF50;
  }